body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background: whitesmoke;
}
.header{
  margin-bottom: 20px;
}
.issuebtn{
  margin-right: 10px;
}
.issuebtnselected{
  opacity: 0.5
}
.wrapper {
  background: white; 
  border: 1px solid #ccc;
  border-radius: 7px;
  padding: 40px;
  width: 90%;
  margin: 0px auto;
  float: none;
}
ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
